@model IEnumerable<CollegeManagementSystem.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}
<h2>Student Body Statistics</h2>
<table class="table">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
                @*@Html.DisplayFor(modelItem => item.StudentCount)  >> gives the same output as @item.StudentCount *@ 
            </td>
        </tr>
    }
</table>
<h3>@ViewBag.Message</h3>

@*<p>Use this area to provide additional information.</p>*@
